*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/jarRepositories.xml
app/src/main/res/drawable-xxhdpi/shadow.xml
app/src/main/res/layout/activity_login_view.xml
app/src/main/assets/labelmap.txt
