<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjhs_project.capstone_design_2020" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/> <!--Internet 사용을 위한 권한 추가(volley)-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>    <!--6,7,8 : 카메라 기능을 위한 퍼미션-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.camera.autofocus"

        />
  <!--  //bGNddH8C19YInzn_0hCG 클라이언트 아이디
    //kXTJ5ozK4_    클라이언트 시크릿
-->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.Login"/>
        <activity android:name=".login.Sign_up"/>
        <activity android:name=".menu.Menu_main"/>
        <activity android:name=".menu.Menu_camera"/>
        <activity android:name=".Detector.result_test"/>
        <activity android:name=".search_naver.ShowWordsFromNaver"/>
        <activity android:name=".myProfile.MyProfile"/>
        <activity android:name=".notepad.NotePad"/>
        <activity
            android:name=".Detector.DetectorActivity"
            android:label="@string/tfe_od_app_name"
            android:screenOrientation="portrait">
        </activity>


        <provider
            android:authorities="com.hjhs_project.capstone_design_2020.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_path"
                >
            </meta-data>
        </provider>
    </application>

</manifest>